@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap');

/* Remove extra margin and padding from columns */
.reveal .columns {
  padding: 0 !important;
  margin: 0 !important;
}

.reveal .column {
  padding: 0 !important;
  margin: 0 !important;
}

/* Remove margin and padding before unordered and ordered lists */
.reveal ul,
.reveal ol {
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.reveal .slide-number {
  top: 10px !important;      /* Adjust distance from the top */
  right: 10px !important;    /* Adjust distance from the right */
  position: absolute !important;
  font-size: 0.9em !important;  /* Optional: Slightly smaller font size */
  color: #444 !important;    /* Optional: Subtle color for better aesthetics */
}


/* Footer styling: Positioned at the bottom of every slide */
.reveal .footer {
  position: absolute !important;
  bottom: 10px !important;
  left: 0 !important;
  width: 100% !important;
  text-align: center !important;
  font-size: 0.8em !important;
  color: #666 !important;
  padding: 5px 0 !important;
}


.scrollbar-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: auto;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scrollable-table {
  overflow: auto !important;
  max-width: 100% !important;
  max-height: 500px; /* Adjust as needed */
  margin: 0 auto !important; /* Center the content */
  background-color: white !important;
  padding: 10px !important;  /* Optional: Add padding around the table */
  border-radius: 5px !important;  /* Optional: Rounded corners for better aesthetics */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;  /* Optional: Subtle shadow */
}

.column {
  padding: 10px; /* Optional: Add padding inside each column */
}

.qr-code {
  position: absolute !important;
  bottom: 10px !important;
  left: 10px !important;
  width: 80px !important;
  height: 80px !important;
  z-index: 1000 !important; /* Ensure it appears above other elements */
}

/* Titles and headings (h1, h2, h3) */
h1 {
  font-family: 'Source Serif Pro', serif !important;
  font-weight: 700 !important;
  font-size: 60px !important;  /* Smaller title size */
  text-transform: none !important;  /* Prevents all caps */
  letter-spacing: 0.0em !important;  /* Subtle spacing */
}

h2 {
  font-family: 'Source Serif Pro', serif !important;
  font-weight: 700 !important;
  font-size: 50px !important;
  text-transform: none !important;
  letter-spacing: 0.0em !important;
}

h3 {
  font-family: 'Source Serif Pro', serif !important;
  font-weight: 500 !important;
  font-size: 24px !important;
}
